<div class="wrapper">
  <!-- Sidebar  -->
  <nav id="sidebar">
    <div class="sidebar-header">
      <a routerLink="" routerLinkActive="active" ariaCurrentWhenActive="page">
        <h3>SGM</h3>
      </a>
    </div>
    <ul *ngIf="this.loggedIn" class="list-unstyled components">
      <li>
        <a
          routerLink="/rectificados"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Gestion de Rectificados
        </a>
      </li>
      <li>
        <a
          routerLink="/moduloOperarios"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Modulo Operarios
        </a>
      </li>
      <!-- <li>
        <a
          routerLink="/pedidos"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Gestion de Pedidos
        </a>
      </li>
      <li>
        <a
          routerLink="/ventas"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Gestion de Ventas
        </a>
      </li>
      <li>
        <a
          routerLink="/envios"
          routerLinkActive="active"
          ariaCurrentWhenActive="page"
          >Gestion de Envíos
        </a>
      </li> -->
      <li>
        <button type="button" (click)="logout()" class="btn btn-dark">Desconectar</button>
      </li>
    </ul>
  </nav>

  <!-- Page Content  -->
  <div id="content">
    <router-outlet></router-outlet>
  </div>
</div>
